@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

@import "tailwindcss";




.dev-text {
  background-image: linear-gradient(90deg, #FF5722, #D81B7E, #7C3AED);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}


.dev-btn:disabled{
  border-color: #d91b7e;
  background-color: white;
  color:#d91b7e
}